schemas/space.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="UnitData">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SpaceUnit" maxOccurs="unbounded" minOccurs="0">
          <xsd:complexType>
            <xsd:choice>
              <xsd:element type="xsd:string" name="Text_ID"/>
              <xsd:element type="xsd:string" name="No_Colorization_Color"/>
              <xsd:element type="xsd:string" name="Encyclopedia_Text">
                <xsd:annotation>
                  <xsd:documentation>
                      The encyclopedia text.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element type="xsd:string" name="Encyclopedia_Unit_Class"/>
              <xsd:element type="xsd:string" name="Encyclopedia_Good_Against">
                <xsd:annotation>
                  <xsd:documentation>
                      Defines which opponents this unit is good against.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element type="xsd:string" name="Encyclopedia_Vulnerable_To">
                <xsd:annotation>
                  <xsd:documentation>
                      Defines which opponents this unit is vulnerable to.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element type="xsd:byte" name="GUI_Row"/>
              <xsd:element type="xsd:string" name="Space_Model_Name"/>
              <xsd:element type="xsd:string" name="Icon_Name"/>
              <xsd:element type="xsd:short" name="Select_Box_Scale"/>
              <xsd:element type="xsd:byte" name="Select_Box_Z_Adjust"/>
              <xsd:element type="xsd:float" name="Mass"/>
              <xsd:element type="xsd:float" name="Scale_Factor"/>
              <xsd:element type="xsd:byte" name="Ranking_In_Category"/>
              <xsd:element type="xsd:float" name="Dense_FOW_Reveal_Range_Multiplier"/>
              <xsd:element type="xsd:float" name="Max_Speed"/>
              <xsd:element type="xsd:float" name="Max_Rate_Of_Turn"/>
              <xsd:element type="xsd:string" name="MovementClass"/>
              <xsd:element type="xsd:string" name="Space_Layer"/>
              <xsd:element type="xsd:float" name="Layer_Z_Adjust"/>
              <xsd:element type="xsd:float" name="Max_Rate_Of_Roll"/>
              <xsd:element type="xsd:byte" name="Bank_Turn_Angle"/>
              <xsd:element type="xsd:float" name="OverrideAcceleration"/>
              <xsd:element type="xsd:float" name="OverrideDeceleration"/>
              <xsd:element type="xsd:float" name="Max_Thrust"/>
              <xsd:element type="xsd:string" name="Hyperspace"/>
              <xsd:element type="xsd:float" name="Hyperspace_Speed"/>
              <xsd:element type="xsd:float" name="Maintenance_Cost"/>
              <xsd:element type="xsd:string" name="Armor_Type"/>
              <xsd:element type="xsd:string" name="Shield_Armor_Type"/>
              <xsd:element type="xsd:byte" name="Damage"/>
              <xsd:element type="xsd:short" name="Autoresolve_Health"/>
              <xsd:element type="xsd:short" name="Shield_Points"/>
              <xsd:element type="xsd:short" name="Tactical_Health"/>
              <xsd:element type="xsd:byte" name="Shield_Refresh_Rate"/>
              <xsd:element type="xsd:short" name="Energy_Capacity"/>
              <xsd:element type="xsd:short" name="Energy_Refresh_Rate"/>
              <xsd:element type="xsd:string" name="Affiliation"/>
              <xsd:element type="xsd:byte" name="Tech_Level"/>
              <xsd:element type="xsd:byte" name="Required_Timeline"/>
              <xsd:element type="xsd:byte" name="Required_Ground_Base_Level"/>
              <xsd:element type="xsd:byte" name="Required_Star_Base_Level"/>
              <xsd:element type="xsd:string" name="Required_Planets"/>
              <xsd:element type="xsd:string" name="Required_Special_Structures"/>
              <xsd:element type="xsd:string" name="Ship_Class"/>
              <xsd:element type="xsd:string" name="Surface_Bombardment_Capable"/>
              <xsd:element type="xsd:byte" name="Formation_Priority"/>
              <xsd:element type="xsd:string" name="Is_Escort"/>
              <xsd:element type="xsd:string" name="Is_Bomber"/>
              <xsd:element type="xsd:byte" name="Political_Control"/>
              <xsd:element type="xsd:byte" name="Squadron_Capacity"/>
              <xsd:element type="xsd:byte" name="Transport_Capacity"/>
              <xsd:element type="xsd:byte" name="Number_per_Squadron"/>
              <xsd:element type="xsd:short" name="Build_Cost_Credits"/>
              <xsd:element type="xsd:short" name="AI_Combat_Power"/>
              <xsd:element type="xsd:byte" name="Build_Time_Seconds"/>
              <xsd:element type="xsd:string" name="Build_Tab_Space_Units"/>
              <xsd:element type="xsd:byte" name="Size_Value"/>
              <xsd:element type="xsd:string" name="Behavior"/>
              <xsd:element type="xsd:string" name="SpaceBehavior"/>
              <xsd:element type="xsd:string" name="Starting_Spawned_Units_Tech_0"/>
              <xsd:element type="xsd:byte" name="Spawned_Squadron_Delay_Seconds"/>
              <xsd:element type="xsd:string" name="Reserve_Spawned_Units_Tech_0"/>
              <xsd:element type="xsd:string" name="Starting_Spawned_Units_Tech_1"/>
              <xsd:element type="xsd:byte" name="Spawned_Squadron_Delay_Seconds"/>
              <xsd:element type="xsd:string" name="Reserve_Spawned_Units_Tech_1"/>
              <xsd:element type="xsd:string" name="Starting_Spawned_Units_Tech_2"/>
              <xsd:element type="xsd:byte" name="Spawned_Squadron_Delay_Seconds"/>
              <xsd:element type="xsd:string" name="Reserve_Spawned_Units_Tech_2"/>
              <xsd:element type="xsd:string" name="Starting_Spawned_Units_Tech_3"/>
              <xsd:element type="xsd:byte" name="Spawned_Squadron_Delay_Seconds"/>
              <xsd:element type="xsd:string" name="Reserve_Spawned_Units_Tech_3"/>
              <xsd:element type="xsd:string" name="Starting_Spawned_Units_Tech_4"/>
              <xsd:element type="xsd:byte" name="Spawned_Squadron_Delay_Seconds"/>
              <xsd:element type="xsd:string" name="Reserve_Spawned_Units_Tech_4"/>
              <xsd:element type="xsd:string" name="Starting_Spawned_Units_Tech_5"/>
              <xsd:element type="xsd:byte" name="Spawned_Squadron_Delay_Seconds"/>
              <xsd:element type="xsd:string" name="Reserve_Spawned_Units_Tech_5"/>
              <xsd:element type="xsd:string" name="Collidable_By_Projectile_Living"/>
              <xsd:element type="xsd:string" name="Asteroid_Damage_Hit_Particles"/>
              <xsd:element type="xsd:float" name="Space_FOW_Reveal_Range"/>
              <xsd:element type="xsd:float" name="Targeting_Max_Attack_Distance"/>
              <xsd:element type="xsd:string" name="Death_Explosions"/>
              <xsd:element type="xsd:string" name="Death_Clone"/>
              <xsd:element type="xsd:string" name="HardPoints"/>
              <xsd:element type="xsd:string" name="CategoryMask"/>
              <xsd:element type="xsd:string" name="GUI_Model_Name"/>
              <xsd:element type="xsd:short" name="GUI_Distance"/>
              <xsd:element type="xsd:string" name="GUI_Offset"/>
              <xsd:element type="xsd:byte" name="GUI_Velocity"/>
              <xsd:element type="xsd:string" name="Victory_Relevant"/>
              <xsd:element type="xsd:string" name="Has_Space_Evaluator"/>
              <xsd:element type="xsd:string" name="SFXEvent_Build_Started"/>
              <xsd:element type="xsd:string" name="SFXEvent_Build_Cancelled"/>
              <xsd:element type="xsd:string" name="SFXEvent_Build_Complete"/>
              <xsd:element type="xsd:string" name="SFXEvent_Ambient_Loop"/>
              <xsd:element type="xsd:string" name="SFXEvent_Select"/>
              <xsd:element type="xsd:string" name="SFXEvent_Move"/>
              <xsd:element type="xsd:string" name="SFXEvent_Fleet_Move"/>
              <xsd:element type="xsd:string" name="SFXEvent_Attack"/>
              <xsd:element type="xsd:string" name="SFXEvent_Guard"/>
              <xsd:element type="xsd:string" name="SFXEvent_Stop"/>
              <xsd:element type="xsd:string" name="SFXEvent_Barrage"/>
              <xsd:element type="xsd:string" name="SFXEvent_Move_Into_Asteroid_Field"/>
              <xsd:element type="xsd:string" name="SFXEvent_Move_Into_Nebula"/>
              <xsd:element type="xsd:string" name="SFXEvent_Damaged_By_Asteroid"/>
              <xsd:element type="xsd:string" name="SFXEvent_Bombard_Select_Target"/>
              <xsd:element type="xsd:string" name="SFXEvent_Bombard_Incoming"/>
              <xsd:element type="xsd:string" name="SFXEvent_Attack_Hardpoint"/>
              <xsd:element type="xsd:string" name="SFXEvent_Hardpoint_Destroyed"/>
              <xsd:element type="xsd:string" name="SFXEvent_Engine_Idle_Loop"/>
              <xsd:element type="xsd:string" name="SFXEvent_Engine_Moving_Loop"/>
              <xsd:element type="xsd:string" name="SFXEvent_Engine_Cinematic_Focus_Loop"/>
              <xsd:element type="xsd:string" name="SFXEvent_Health_Critical_Warning"/>
              <xsd:element type="xsd:string" name="Death_SFXEvent_Start_Die"/>
              <xsd:element type="xsd:string" name="Space_Full_Stop_Command"/>
              <xsd:element type="xsd:string" name="Is_Visible_On_Radar"/>
              <xsd:element type="xsd:string" name="Radar_Icon_Name"/>
              <xsd:element type="xsd:string" name="Radar_Icon_Size"/>
              <xsd:element type="xsd:float" name="Radar_Icon_Scale_Land"/>
              <xsd:element type="xsd:float" name="Radar_Icon_Scale_Space"/>
              <xsd:element type="xsd:float" name="Guard_Chase_Range"/>
              <xsd:element type="xsd:float" name="Idle_Chase_Range"/>
              <xsd:element type="xsd:float" name="Attack_Move_Response_Range"/>
              <xsd:element type="xsd:float" name="Targeting_Stickiness_Time_Threshold"/>
              <xsd:element type="xsd:string" name="Targeting_Priority_Set"/>
              <xsd:element type="xsd:string" name="Lua_Script"/>
              <xsd:element name="Unit_Abilities_Data">
                <xsd:annotation>
                  <xsd:documentation>
                      List of activated abilities. Activated abilities are abilities that can be activated and deactivated.
                  </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Unit_Ability">
                      <xsd:annotation>
                        <xsd:documentation> Primary ability </xsd:documentation>
                      </xsd:annotation>
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element type="xsd:string" name="Type"/>
                          <xsd:element type="xsd:string" name="Mod_Multiplier"/>
                          <xsd:element type="xsd:byte" name="Recharge_Seconds"/>
                          <xsd:element type="xsd:byte" name="Expiration_Seconds"/>
                          <xsd:element type="xsd:string" name="Alternate_Name_Text"/>
                          <xsd:element type="xsd:string" name="Alternate_Description_Text"/>
                          <xsd:element type="xsd:string" name="Alternate_Icon_Name"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute type="xsd:string" name="SubObjectList"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Abilities">
                <xsd:annotation>
                  <xsd:documentation>
                      List of passiv abilities. Passiv abilities are abilities that are always activated or activate automatically.
                  </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element type="xsd:short" name="Score_Cost_Credits"/>
              <xsd:element type="xsd:byte" name="Population_Value"/>
              <xsd:element type="xsd:short" name="Custom_Hard_XExtent"/>
              <xsd:element type="xsd:short" name="Tactical_Build_Cost_Multiplayer"/>
              <xsd:element type="xsd:byte" name="Tactical_Build_Time_Seconds"/>
              <xsd:element type="xsd:string" name="Tactical_Build_Prerequisites"/>
              <xsd:element type="xsd:string" name="Tactical_Production_Queue"/>
              <xsd:element type="xsd:string" name="xxxsdpace_Model_Name"/>
              <xsd:element type="xsd:float" name="Death_Persistence_Duration"/>
              <xsd:element type="xsd:string" name="Remove_Upon_Death"/>
            </xsd:choice>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
